.espacio-header {
  padding-top: 20px;
}
.img-art {
  height: 300px;
}
.img-card {
  margin-top: 20px;
}
.avatar{
  margin: 10,
}
.tags{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
