.icon-facebook{
color: #3462B3;
font-size: 20px;
padding: 1px 5px 1px 5px;
float: left;

}
.icon-twitter{
    color: #AED6F1;
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    float: left;
}
.icon-instagram{
    color: #DC3DA7;
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    float: left;
}
.divider{
    margin-bottom: 2rem !important;
    margin-top: 4rem !important;
}
.colorButton{
    background-color:#4fa0cb  !important;
    color: white !important;
    margin-top: 40px !important;
    margin-bottom: 60px !important;
    padding: 10px !important;
    font-size: 15px !important;
}

