.icon-facebook{
color: #3462B3;
font-size: 20px;
padding: 1px 5px 1px 5px;
float: left;

}
.icon-twitter{
    color: #AED6F1;
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    float: left;
}
.icon-instagram{
    color: #DC3DA7;
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    float: left;
}